.footerContainer{
    width: calc(100vw - 20px);
    background-color: black;
    display: flex;
    flex-direction: column;

    .divider{
        background-color: #5555559a;
        height: 10px;
    }

    .questionContainer{
        padding: 100px 100px 30px 100px;
        color: white;
        font-size: 24px;

        a{
            color:rgba(255, 255, 255, 0.616);
            cursor: pointer;

            &:hover{
                color: rgba(255, 255, 255, 0.774);
            }
        }
    }

    .categoryContainer{
        background-color: black;
        width: 100%;

        ul{
            padding: 0 100px 100px 100px;
            display: grid;
            gap: 30px 120px;
            justify-content: flex-start;
            align-items: center;
            // automatisches anpassen mit mind. 200px 
            grid-template-columns: repeat(auto-fit, minmax(15%, 20%));

            li{
                a{
                    color: rgba(255, 255, 255, 0.616);
                    font-size: 22px;
                    line-height: 24.6px;
                    text-decoration: underline;
                    cursor: pointer;
        
                    &:hover{
                        color: rgba(255, 255, 255, 0.774);
                    }
                }
            }
        }        
    }
}



//WEG EVTL
// @media only screen and (min-height: 901px) and (max-width: 1200px){

//     .footerContainer{
//         width: 100vw;
        
        
        
//     }

// }


@media only screen and (max-height: 900px) and (max-width: 1200px){

    .footerContainer{
        width: 100vw;
        
        // padding: 0 50px;
        
        
    }

}


@media only screen and (max-width: 992px) and (min-width: 769px) and (min-height: 1100px){

    .footerContainer{
        width: 100vw;
    
        .questionContainer{
            padding: 40px 60px;
            font-size: 36px;
            line-height: 39px;
            display: flex;
            flex-direction: column;
            gap: 8px;
    
            a{  
                color:rgba(255, 255, 255, 0.616);
                cursor: pointer;
    
                &:hover{
                    color: rgba(255, 255, 255, 0.774);
                }
            }
        }
    
        .categoryContainer{
    
            ul{
                padding: 40px 60px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
    
                li{
                    a{
                        font-size: 32px;
                    }
                }
            }
        }
    }
}


//small monitor or laptops
@media only screen and (max-width: 992px) and (min-width: 769px) and (max-height: 1099px){

    .footerContainer{
        width: calc(100vw - 20px);
    
        .questionContainer{
            padding: 40px 60px;
            font-size: 28px;
            line-height: 32px;
            display: flex;
            flex-direction: column;
            gap: 8px;
    
            a{  
                color:rgba(255, 255, 255, 0.616);
                cursor: pointer;
    
                &:hover{
                    color: rgba(255, 255, 255, 0.774);
                }
            }
        }
    
        .categoryContainer{
    
            ul{
                padding: 40px 60px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
    
                li{
                    a{
                        font-size: 24px;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 768px) and (max-height: 1020px){

    .footerContainer{
        width: calc(100vw - 20px);
    
        .questionContainer{
            padding: 20px 30px;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            gap: 8px;
    
            a{  
                color:rgba(255, 255, 255, 0.616);
                cursor: pointer;
    
                &:hover{
                    color: rgba(255, 255, 255, 0.774);
                }
            }
        }
    
        .categoryContainer{
    
            ul{
                padding: 20px 30px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
    
                li{
                    a{
                        font-size: 20px;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 768px) and (min-height: 1021px){

    .footerContainer{
        width: 100vw;
    
        .questionContainer{
            padding: 20px 30px;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            gap: 8px;
    
            a{  
                color:rgba(255, 255, 255, 0.616);
                cursor: pointer;
    
                &:hover{
                    color: rgba(255, 255, 255, 0.774);
                }
            }
        }
    
        .categoryContainer{
    
            ul{
                padding: 20px 30px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
    
                li{
                    a{
                        font-size: 20px;
                    }
                }
            }
        }
    }

}