<div class="footerContainer">
    <div class="divider"></div>
    <div class="questionContainer">
        Fragen? Sende uns eine Mail:    <a href="">klemens.naue@googlemail.com</a>
    </div>
    <div class="categoryContainer">
        <ul>
            <li><a href="">Häufig gestellte Fragen (FAQ)</a></li>
            <li><a href="">Datenschutz</a></li>
            <li><a href="">Impressum</a></li>
            <li> <a href="">Kontakt</a></li>
            <li> <a href="">Konto</a></li>
            <li> <a href="">Cookies</a></li>
        </ul>
    </div>
</div>