<div class="footerContainer">
    <div class="divider"></div>
    <div class="questionContainer">
        <span>Any Questions? Contact us: </span>    
        <a href="mailto:klemens.naue@googlemail.com">klemens.naue@googlemail.com</a>
    </div>
    <div class="categoryContainer">
        <ul>
            <li><a (click)="toData()">Legal notice</a></li>
            <li><a (click)="toImpressum()">Imprint</a></li>
            <li *ngIf="isLoggedIn"> <a (click)="openProfile()">Profile</a></li>            
        </ul>
    </div>
</div>