<div class="landingMain">
    <mat-toolbar>
        <div class="toolbar-left">
            <span class="appName">VideoFlix</span>
        </div>
        <div class="toolbar-right">
            <button mat-flat-button (click)="toLoginPage()">Einloggen</button>
        </div>
    </mat-toolbar>

    <div class="infoAndStart">
        <h1>Unbegrenzt Filme, Serien und mehr</h1>
        <h2>Genießen Sie Videoflix, wo immer Sie möchten!</h2>
        <h3>Bock? Geben Sie Ihre Email-Adresse ein, um Ihre Mitgliedschaft zu beginnen.</h3>
        
        <div class="sendEmailForm">
            <button mat-flat-button (click)="toRegister()">
                <span>Loslegen
                <mat-icon>arrow_forward_ios</mat-icon>
                </span>
            </button>
        </div>

    </div>


</div>