<div class="loginMain">
    <mat-toolbar>
        <div class="toolbar-left">
            <span class="appName">VideoFlix</span>
        </div>
    </mat-toolbar>
    <div class="loginContainer">
        <div class="loginForm">
            <h1>Einloggen</h1>
            <form (ngSubmit)="login()">
                <mat-form-field class="formField">
                    <mat-label>E-Mail-Adresse</mat-label>
                    <input type="email" 
                        matInput 
                        [(ngModel)]="email" 
                        name="email" 
                        [required]="isUsernameRequired" 
                        [disabled]="disableInput" 
                        (ngModelChange)="onEmailChange($event)">
                    <div class="requiredError" *ngIf="isUsernameRequired && (!email || !isEmailValid)">
                        <!-- Hier wird die Fehlermeldung angezeigt, wenn das Feld ungültig ist -->
                        Please insert your email here.
                    </div>
                </mat-form-field>
                <mat-form-field class="formField">
                    <mat-label>Password</mat-label>
                    <input 
                        matInput 
                        [(ngModel)]="password" 
                        name="password" 
                        [required]="isPasswordRequired" 
                        [disabled]="disableInput" 
                        (ngModelChange)="onPasswordChange($event)">
                    <div class="requiredError" *ngIf="isPasswordRequired">
                        <!-- Hier wird die Fehlermeldung angezeigt, wenn das Feld ungültig ist -->
                        Please enter password here
                    </div>
                </mat-form-field>
                <div class="loginBtns">
                    <button class="loginBtn" mat-raised-button color="primary" type="submit">Einloggen</button>
                    <div class="passwordForgotten" (click)="toResetPassword()">Password vergessen?</div>
                    <div class="new">
                        Neu bei Filmflix?
                        <span class="registerLink" (click)="toLandingPage()">Jetzt registrieren</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>