<div class="loginMain">
    <mat-toolbar>
        <div class="toolbar-left">
            <span class="appName" (click)="toLandingPage()">SportFlix</span>
        </div>
    </mat-toolbar>
    <div class="loginContainer">
        <div class="loginForm">
            <h1>Login</h1>
            <form (ngSubmit)="login()" #form="ngForm">
                <mat-form-field class="formField" [ngClass]="{'has-error': emailModel.errors?.['email'] && emailModel.touched}">
                    <mat-label>Email</mat-label>
                    <input 
                        type="email"
                        [email]="true"
                        matInput 
                        [(ngModel)]="email" 
                        name="email" 
                        [disabled]="disableInput" 
                        #emailModel="ngModel">
                    <mat-error *ngIf="emailModel.errors?.['email']">
                        Please insert your email here.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="formField" [ngClass]="{'has-error': passwordModel.errors?.['minlength'] && passwordModel.touched}">
                    <mat-label>Password</mat-label>                    
                        <input
                        [type]="passwordVisible ? 'text' : 'password'"
                        matInput 
                        [(ngModel)]="password" 
                        name="password"
                        minlength="8"
                        [disabled]="disableInput" 
                        #passwordModel="ngModel">
                        <button mat-icon-button 
                            type="button" 
                            (click)="togglePasswordVisibility()" 
                            class="password-toggle-icon">
                            <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    <mat-error *ngIf="passwordModel.errors?.['minlength']">
                        Password must contain least 8 characters
                    </mat-error>                
                </mat-form-field>
                <div class="loginBtns">
                    <div class="wrongDataError" *ngIf="wrongData">
                        The email address or password is incorrect
                    </div>
                    <button class="loginBtn" mat-raised-button color="primary" type="submit" [disabled]="!form.valid || !passwordModel.touched || !emailModel.touched">Login</button>
                    <div class="passwordForgotten" (click)="toResetPassword()">Forgot Password?</div>
                    <div class="new">
                        New on Sportsflix?
                        <span class="registerLink" (click)="toLandingPage()">Sign up</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>