<div class="moviecontainer">

    <div *ngIf="preview">HUHUHUHU</div>

    <div *ngFor="let sport of sportsData" class="sportscontainer">
        <div *ngIf="sport.filteredVideos.length != 0">
            <div class="categoryname">{{ sport.name }}</div>
            <div class="videoScrollContainer">
                <div class="scrollArrow left" [id]="sport.name + 'ScrollLeft'"
                    (click)="scrollLeft(sport.name + 'Scroll')">&#9664;</div>
                <div class="allVideosOfCategory" [id]="sport.name + 'Scroll'" #scrollContainer>
                    <div class="videoContainer" *ngFor="let video of sport.videos">
                        <div class="thumbnail" (click)="toggleVideo(video)">
                            <img [src]="getVideoUrl(video.thumbnail)">
                        </div>
                        <div class="videowrapperoutside" *ngIf="video.isplaying">
                            <div class="videowrapperinside">
                                <button class="closeButton" (click)="toggleVideo(video)">X</button>
                                <video controls>
                                    <source [src]="getVideoUrl(video.videos_file)" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scrollArrow right" [id]="sport.name + 'ScrollRight'"
                    (click)="scrollRight(sport.name + 'Scroll')">&#9654;</div>
            </div>
        </div>

    </div>

</div>