<div class="moviecontainer">

    <div *ngIf="preview" class="previewWindow" >
        <div class="previewThumbnail">
            <img [src]="loadThumbnail()">
        </div>
        <div class="previewInformations">
            <div id="previewTitle">{{actualTitle}}</div>
            <div id="previewDescription">{{actualDescription}}</div>
            <div class="loginBtns">
                <button class="loginBtn" mat-raised-button color="primary" (click)="openVideo()">Abspielen</button>
            </div>
        </div>        
    </div>
        <div *ngFor="let sport of sportsData">
            <div *ngIf="sport.filteredVideos.length != 0" class="sportscontainer" [ngClass]="{'no-videos': sport.filteredVideos.length === 0}">
                <div class="categoryname">{{ sport.name }}</div>
                <div class="videoScrollContainer">
                    <div class="scrollArrow left" [id]="sport.name + 'ScrollLeft'"
                        (click)="scrollLeft(sport.name + 'Scroll')">&#9664;</div>
                    <div class="allVideosOfCategory" [id]="sport.name + 'Scroll'" #scrollContainer>
                        <div class="videoContainer" *ngFor="let video of sport.filteredVideos">
                            <div class="thumbnail" (click)="openPreview(video.thumbnail, video)">
                                <img [src]="getVideoUrl(video.thumbnail)">
                            </div>
                        </div>
                    </div>
                    <div class="scrollArrow right" [id]="sport.name + 'ScrollRight'"
                        (click)="scrollRight(sport.name + 'Scroll')">&#9654;</div>
                </div>
            </div>    
        </div>
    
    

</div>