.changePasswordMain {
    height: 100%;
    width: calc(100vw - 21px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .upperPart {
        display: flex;
        justify-content: space-between !important;
        align-items: center;
        padding: 32px 40px;
        width: calc(100% - 80px);
        height: auto;
        background-color: #fff !important;
        border-bottom: 1px solid #e6e6e6;

        .appName {
            font-size: 72px;
            font-weight: 600;
            line-height: 72px;
            color: #E50914;
        }

        mat-icon {
            color: #E50914;
            scale: 2;
            cursor: pointer;
        }
    }

    .mainContainer {
        flex: 1;
        padding: 32px 40px;
        width: calc(100% - 80px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        color: #333;

        .profilContainer {
            width: 100%;
            margin-top: 48px;
            margin-bottom: 32px;

            p {
                font-size: 48px;
                line-height: 52px;
                font-weight: 700;
            }
        }

        .profilDataContainer {
            width: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 48px;
            margin-bottom: 16px;

            h1 {
                margin: 0;
            }

            .formField {

                input {
                    font-size: 20px;
                    padding: 8px;
                    outline: none;
                    box-sizing: border-box;
                    border: 1px solid black;
                }
            }
        }

        .sendBtn {

            margin-top: 48px;
            max-width: 250px;

            .loginBtn {
                width: 100%;
                height: auto;
                background-color: #E50914;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                padding: 16px;

                &:hover {
                    background-color: #e50914d8;
                }
            }
        }

        .requestSended {
            margin-top: 64px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h3 {
                font-size: 32px;
                font-weight: 500;
                line-height: 38.8px;
            }
        }
    }
}


.requestLoadingContainer {
    background-color: white;
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

@media only screen and (max-width: 850px){

    .changePasswordMain{
        
        .upperPart {        
            padding: 20px 30px;
            width: calc(100% - 60px);
        }

        .mainContainer {
            padding: 20px 30px;
            width: calc(100% - 60px);
        }
    }

    
}

@media only screen and (max-width: 520px) {

    .changePasswordMain{

        .upperPart {        
        
                .appName {
                    font-size: 48px;
                    font-weight: 600;
                    line-height: 51px;
                }
            }

            .mainContainer {
        
                .profilContainer {        
                    p {
                        font-size: 36px;
                        line-height: 38px;
                        font-weight: 700;
                    }
                }
        
                .profilDataContainer {
                    gap: 8px;
                    margin-bottom: 16px;
                    flex-direction: column;
                    align-items: flex-start;
        
                    h1 {
                        font-size: 24px;
                    }
        
                    .formField {
        
                        input {
                            font-size: 20px;
                            padding: 8px
                        }
                    }
                }
        
                // hier noch schauen
        
                .requestSended {
                    margin-top: 64px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
        
                    h3 {
                        font-size: 32px;
                        font-weight: 500;
                        line-height: 34.8px;
                    }
                }
            }
    }

    
}