<div class="changePasswordMain">
    <div class="upperPart">
        <div class="appName">SportFlix</div>
        <mat-icon class="material-symbols-outlined" (click)="toLogin()">arrow_back</mat-icon>
    </div>
    <div class="mainContainer">

        <div class="profilContainer">
            <p>Reset Password</p>
        </div>

        <form (ngSubmit)="passwordResetRequest()" *ngIf="!emailSended" autocomplete="off">
            <div class="profilDataContainer">
                <h1>Your email</h1>
                <div class="formField">
                    <input 
                        type="text" 
                        matInput 
                        [(ngModel)]="mail" 
                        name="firstName" 
                        required
                        onkeypress="return 
                        event.charCode != 32">
                </div>
            </div>
            <div class="sendBtn">
                <button class="loginBtn" type="submit" mat-raised-button color="primary">Reset Password</button>
            </div>
        </form>

        <div class="requestSended" *ngIf="emailSended ">
            <h3>An email with resetlink was send to your mail inbox. Please click to assign a new password.</h3>
            <div class="sendBtn">
                <button class="loginBtn" mat-raised-button color="primary" (click)="toLogin()">back to login</button>
            </div>
        </div>
    </div>
</div>

<div class="requestLoadingContainer" *ngIf="sendDataLoading">
    <mat-spinner [diameter]="240"></mat-spinner>
    <h2>Try to change password</h2>
</div>