<div class="signInMain">
    <div class="upperPart">
        <div class="appName" (click)="toLandingPage()">SportFlix</div>
        <div class="loginBtn" (click)="toLogin()">Login</div>
    </div>
    <div class="mainContainer">
        <div class="loginForm">
            <h1>Create an Account to start your Sportflix membership</h1>
            <form [class.error-visible]="isErrorVisible" (ngSubmit)="signIn()" #form="ngForm">

                <mat-form-field class="formField">
                    <mat-label>Your email</mat-label>
                    <input type="email" matInput [(ngModel)]="email" name="email" required email #emailModel="ngModel">
                    <mat-error *ngIf="emailModel.errors?.['required']">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="emailModel.errors?.['email']">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="formField">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput [(ngModel)]="username" name="username" required maxlength="20">
                    <mat-error>
                        Please insert a username
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="formField">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [(ngModel)]="password" name="password" required minlength="8"
                        #passwordModel="ngModel">
                    <mat-error *ngIf="passwordModel.errors?.['required']">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="passwordModel.errors?.['minlength']">
                        Password must be at least 8 characters long
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="formField">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput [(ngModel)]="passwordConfirm" name="passwordConfirm" required
                        minlength="8" #passwordConfirmModel="ngModel">
                    <mat-error *ngIf="passwordConfirmModel.errors?.['required']">
                        Confirm Password is required
                    </mat-error>
                    <mat-error *ngIf="passwordConfirmModel.errors?.['minlength']">
                        Password must be at least 8 characters long
                    </mat-error>
                </mat-form-field>

                <div class="passwordsNotMatch" *ngIf="passwordNotMatch">
                    Passwords do not match
                </div>

                <div class="icon-dropdown">
                    <div class="selected-icon" *ngIf="selectedIcon">
                        <img [src]="selectedIcon.image" alt="{{ selectedIcon.name }}">
                    </div>

                    <button class="btn btn-secondary" type="button" (click)="toggleMenu()">
                        Choose Icon
                    </button>

                    <div class="dropdown-menu" [ngClass]="{'show': menuOpen}">
                        <div *ngFor="let icon of icons" (click)="selectIcon(icon)" class="dropdown-item">
                            <img [src]="icon.image" alt="{{ icon.name }}">
                        </div>
                    </div>
                </div>

                <div class="loginBtns">
                    <button class="loginBtn" type="submit" [disabled]="!form.valid" mat-raised-button color="primary">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>