<div class="navbarContainer">
    <mat-toolbar *ngIf="searchfield == false">
        <div class="toolbar-left">
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <span class="appName">VideoFlix</span>
        </div>

        <div class="toolbar-right">
            <button mat-icon-button (click)="openSearchfield()">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button  class="btnMenu" [matMenuTriggerFor]="menu" (menuOpened)="toggleMenuo()" (menuClosed)="toggleMenuc()" [ngClass]="{'bg-grey': menuOpen}">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="noPadding">
                <button mat-menu-item class="bg-grey font-white">
                  <span>Einstellungen</span>
                </button>
                <button mat-menu-item class="bg-grey font-white" (click)="logout()">
                  <span>Ausloggen</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar>

    <mat-toolbar *ngIf="searchfield == true">
        <button mat-icon-button (click)="openSearchfield()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="searchField">
            <mat-icon>search</mat-icon>
            <input type="text" placeholder="Suche" [formControl]="myControl" matInput>
            <!-- hier mat-autocomplete einfügen, siehe material angular autocomplete -->
        </div>
        <div class="emptyDiv"></div>
    </mat-toolbar>

</div>