<div class="changePasswordMain" *ngIf="!succesfulSet">
    <div class="toolbar-left">
        <div class="appName" (click)="toLogin()">SportFlix</div>
        <!-- <mat-icon class="material-symbols-outlined" >arrow_back</mat-icon> -->
    </div>
    <div class="mainContainer">

        <div class="headline">
            <p>Set new password</p>
        </div>

        <div class="changeForm">
            <form (ngSubmit)="setNewPassword()" class="passwordChangeContainer">
                <div class="passwordscontainer">
                    <mat-form-field 
                        class="formField"
                        [ngClass]="{'has-error': passwordModel.errors?.['minlength'] && passwordModel.touched}">
                        <mat-label >New password</mat-label>
                        <input 
                            type="text" 
                            matInput [(ngModel)]="password" 
                            name="newpassword" 
                            required
                            minlength="8"
                            #passwordModel="ngModel">
                        <mat-error *ngIf="passwordModel.errors?.['required']">
                            Please set your new password 
                        </mat-error>
                        <mat-error *ngIf="passwordModel.errors?.['minlength']">
                            Password must be at least 8 characters long
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field 
                        class="formField"
                        [ngClass]="{'has-error': passwordConfirmModel.errors?.['minlength'] && passwordConfirmModel.touched}">
                        <mat-label >Confirm new password</mat-label>
                        <input 
                            type="text" 
                            matInput [(ngModel)]="passwordconfirm" 
                            name="newPasswordconfirmation" 
                            required
                            minlength="8"
                            #passwordConfirmModel="ngModel">
                        <mat-error *ngIf="passwordConfirmModel.errors?.['required']">
                            Please confirm your new password
                        </mat-error>
                        <mat-error *ngIf="passwordConfirmModel.errors?.['minlength']">
                            Password must be at least 8 characters long
                        </mat-error>
                    </mat-form-field>
                    
                    <div class="passwordsNotMatch" *ngIf="passwordNotMatch">
                        Passwords do not match
                    </div>
                </div>
                
                <div class="sendBtn">
                    <button class="loginBtn" type="submit" mat-raised-button color="primary" >Passwort ändern</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="changeSuccessful" *ngIf="succesfulSet">
    <span>Set new password succesful</span>
    <p>You will be redirected to Login in 3 seconds or click <span (click)="toLogin()">here</span></p>
</div>


