.changePasswordMain {
    height: 100%;
    width: calc(100vw - 21px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .toolbar-left {
        display: flex;
        justify-content: space-between !important;
        align-items: center;
        padding: 32px 40px;
        width: calc(100% - 80px);
        height: auto;
        background-color: #fff !important;
        border-bottom: 1px solid #e6e6e6;

        .appName {
            font-size: 72px;
            font-weight: 600;
            line-height: 72px;
            color: #E50914;
        }

        mat-icon {
            color: #E50914;
            scale: 2;
            cursor: pointer;
        }
    }

    .mainContainer {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        color: #333;

        .profilContainer {
            width: 100%;
            border-bottom: 3px solid black;

            p {
                margin-top: 16px;
                margin-left: 40px;
                font-size: 48px;
                line-height: 52px;
                font-weight: 700;
            }
        }

        .changeForm {
            width: calc(100% - 80px);
            padding: 32px 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-bottom: 1px solid black;

            h1 {
                font-size: 24px;
                font-weight: 500;
                letter-spacing: 2px;
                line-height: 48px;
                text-align: center;
                margin-bottom: 0;
                min-width: 200px;
                text-align: left;
            }

            .profilDataContainer {
                width: auto;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 48px;
                margin-bottom: 16px;

                .formField {

                    outline: 1px solid black;

                    input {
                        font-size: 20px;
                        padding: 8px;
                        border: unset;
                    }
                }
            }

            .passwordChangeContainer {
                margin-top: 16px;
            }

            form {
                display: flex;
                flex-direction: column;
                width: 100%;

                mat-form-field {

                    width: 300px;
                    margin-bottom: 16px;
                    overflow: visible;
                    

                    mat-label {
                        color: #333;
                    }

                    mat-error {
                        width: auto;
                        padding: 8px 0;
                        font-size: 14px;
                        transform: translateX(-16px);
                    }

                    input {
                        font-size: 20px;
                        padding: 8px;
                    }

                    .password-toggle-icon {
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        color: #171717;
                        cursor: pointer;
                    }
                }

                .sendBtn {
                    margin-top: 16px;
                }

                .passwordsNotMatch {
                    margin-top: 24px;
                    font-size: 20px;
                    color: #E50914;
                }

            }

            .error {
                display: flex;
                flex-direction: column;
                color: red;
            }

            .changeProfilData {
                padding-top: 32px;

                h3 {
                    font-size: 24px;
                }
            }
        }
    }
}


.changeSuccessful {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    span {
        font-size: 40px;
        color: black;
    }
}

.sendBtn {

    max-width: 250px;

    .loginBtn {
        width: 100%;
        height: auto;
        background-color: #E50914;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        padding: 16px;

        &:hover {
            background-color: #e50914d8;
        }
    }
}


.icon-dropdown {
    display: flex;
    align-items: center;
    position: relative;

    .selected-icon {
        width: 150px;
        height: 150px;
        border: 3px solid black;
        margin: 0 16px 16px 0;

        img {
            width: 150px;
            height: 150px;
        }
    }

    button {
        width: 150px;
        height: 150px;
        margin: 0 16px 16px 0;
        border: 3px solid black;
    }

    .dropdown-menu {
        display: none;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        position: absolute;
        bottom: 16px;
        left: 160px;
        background-color: unset;
        z-index: 999;
        width: auto;
        max-width: 330px;

        .dropdown-item {
            width: 80px;
            height: 80px;
            cursor: pointer;
            display: flex;
            align-items: center;
            border: 1px solid grey;

            img {
                background-color: white;
                width: 80px;
                height: 80px;

                &:hover {
                    background-color: #e5091431;
                }
            }

            &:hover {
                background-color: white;
            }
        }
    }

    .dropdown-menu.show {
        display: flex;
    }
}


:host input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: black; 
 }



:host ::ng-deep .mat-mdc-form-field .mdc-text-field {
    background-color: #fff !important;
    padding: 0
}

:host ::ng-deep .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix {
    background-color: #fff !important;
    padding-top: 16px;
    padding-bottom: 8px;
    border: 2px solid #333 !important;
    border-radius: 3px;
    z-index: 3;
}

:host ::ng-deep .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix:before {
    background-color: #fff !important;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border: 2px solid #333 !important;
    border-radius: 3px;
}

:host ::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 50% !important;
    left: 16px !important;
    font-size: 24px;
    letter-spacing: 1.5px;
}

mat-form-field+mat-form-field {
    margin-top: 16px;
}

.error-visible mat-form-field+mat-form-field {
    margin-top: 32px;
}




@media only screen and (max-width: 992px) {

    .changePasswordMain {
        width: 100vw;


        .toolbar-left {
            padding: 20px 30px;
            width: calc(100% - 60px);
        }

        .mainContainer {

            .profilContainer {

                p {
                    margin-left: 40px;
                }
            }

            .changeForm {
                width: calc(100% - 60px);
                padding: 20px 30px;
            }
        }

    }
}


@media only screen and (max-width: 768px) {

    .icon-dropdown {

        .selected-icon {
            width: 100px;
            height: 100px;
            border: 3px solid black;
            margin: 0 12px 16px 0;

            img {
                width: 100px;
                height: 100px;
            }
        }

        button {
            width: 104px; // damit gleiche größe wie selected icon, warum auch immer
            height: 104px;
            margin: 0 12px 16px 0;
        }

        .dropdown-menu {
            left: 60px;
        }
    }

}


@media only screen and (max-width: 576px) {


    .appName {
        font-size: 56px !important;
        line-height: 58px !important;
    }

    mat-icon {
        scale: 1.8 !important;
    }


    .changeForm {

        h1 {
            min-width: 160px !important;
        }

        .profilDataContainer {
            gap: 12px !important;

            .formField {
                max-width: 200px;

                input {

                    font-size: 20px;
                    padding: 8px;
                    width: calc(100% - 16px);
                }
            }

        }

        .passwordChangeContainer {
            margin-top: 16px;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100%;

            mat-form-field {

                width: 250Px !important;

                mat-label {
                    font-size: 16px;
                }

                input {
                    font-size: 18px;
                }
            }
        }
    }

    .changeSuccessful {

        span {
            font-size: 32px;
            line-height: 34px;
            text-align: center;
        }
    }
}


@media only screen and (max-width: 460px) {


    .appName {
        font-size: 42px !important;
        line-height: 44px !important;
    }


    .profilContainer {
        p {
            font-size: 38px !important;
        }
    }


    .changeForm {

        h1 {
            font-size: 20px !important;
            min-width: 140px !important;
        }

        .profilDataContainer {
            gap: 0px !important;

            .formField {
                max-width: 160px;
            }

        }
    }


    .profilIconContainer {

        width: 100% !important;
        display: flex;
        flex-direction: column !important;

        h1 {
            width: 100%;
            text-align: left;
        }

        .icon-dropdown {

            width: 100%;


            .selected-icon {
                width: 100px;
                height: 100px;
                border: 3px solid black;
                margin: 0 12px 16px 0;

                img {
                    width: 100px;
                    height: 100px;
                }
            }

            button {
                width: 104px; // damit gleiche größe wie selected icon, warum auch immer
                height: 104px;
                margin: 0 12px 16px 0;
            }

            .dropdown-menu {
                left: 60px;
            }
        }
    }
}


@media only screen and (max-width: 375px) {


    .changeForm {

        h1 {
            font-size: 18px !important;
        }

        .profilDataContainer {

            .formField {
                max-width: 160px;

                input {
                    font-size: 18px;
                }
            }

        }
    }
}