<div class="changePasswordMain">
    <div class="toolbar-left">
        <div class="appName">SportFlix</div>
        <mat-icon class="material-symbols-outlined" (click)="toMain()">arrow_back</mat-icon>
    </div>
    <div class="mainContainer">

        <div class="profilContainer">
            <p>Profile</p>
        </div>

        <div class="changeForm">

            <form (ngSubmit)="changeUserData()">
                <div class="profilDataContainer">
                    <h1>Firstname</h1>
                    <div class="formField">
                        <input type="text" matInput [(ngModel)]="profilData.first_name" name="firstName" required
                            maxlength="15" onkeypress="return event.charCode != 32">
                    </div>
                </div>
                <div class="profilDataContainer">
                    <h1>Lastname</h1>
                    <div class="formField">
                        <input type="text" matInput [(ngModel)]="profilData.last_name" name="lastName" required
                            maxlength="15" onkeypress="return event.charCode != 32">
                    </div>
                </div>
                <div class="profilDataContainer">
                    <h1>Username</h1>
                    <div class="formField">
                        <input type="text" matInput [(ngModel)]="profilData.username" name="username" required
                            maxlength="15" onkeypress="return event.charCode != 32">
                    </div>
                </div>
                <div class="profilDataContainer">
                    <h1>Avatar</h1>
                    <div class="icon-dropdown">
                        <!-- Zeige das ausgewählte oder das erste Icon an -->
                        <div class="selected-icon" *ngIf="selectedIcon">
                            <img [src]="selectedIcon.image" alt="{{ selectedIcon.name }}">
                        </div>

                        <!-- Button zum Öffnen des Menüs -->
                        <button class="btn btn-secondary" type="button" (click)="toggleMenu()">
                            Choose Icon
                        </button>

                        <!-- Dropdown-Liste mit allen Icons, sichtbar wenn menuOpen true ist -->
                        <div class="dropdown-menu" [ngClass]="{'show': menuOpen}">
                            <div *ngFor="let icon of icons" (click)="selectIcon(icon)" class="dropdown-item">
                                <img [src]="icon.image" alt="{{ icon.name }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sendBtn">
                    <button class="loginBtn" type="submit" mat-raised-button color="primary">Update profile</button>
                </div>
            </form>
            <div class="changeProfilData" *ngIf="nameChangeSuccesful">
                <h3>Profile succesfully updated</h3>
            </div>
        </div>

        <div class="changeForm">
            <h1>Change password</h1>
            <form 
                #form="ngForm" 
                [class.error-visible]="isErrorVisible" 
                (ngSubmit)="changePassword()" 
                class="passwordChangeContainer">

                <mat-form-field class="formField">
                    <mat-label>Actual password</mat-label>
                    <input 
                        type="password" 
                        matInput 
                        [(ngModel)]="oldPassword" 
                        name="oldPassword" 
                        required
                        minlength="8" 
                        #OldPasswordModel="ngModel">
                    <mat-error *ngIf="OldPasswordModel.errors?.['minlength']">
                        Password must be at least 8 characters long
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field class="formField">
                    <mat-label>New password</mat-label>
                    <input 
                        type="password" 
                        matInput 
                        [(ngModel)]="newPassword" 
                        name="newPassword" 
                        required
                        minlength="8" 
                        #newPasswordModel="ngModel">
                    <mat-error *ngIf="newPasswordModel.errors?.['required']">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="newPasswordModel.errors?.['minlength']">
                        Password must be at least 8 characters long
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="formField">
                    <mat-label>Confirm password</mat-label>
                    <input 
                        type="password" 
                        matInput 
                        [(ngModel)]="newPasswordConfirm" 
                        name="newPasswordConfirm" 
                        required
                        minlength="8" 
                        #passwordConfirmModel="ngModel">
                    <mat-error *ngIf="passwordConfirmModel.errors?.['required']">
                        Please confirm your new password
                    </mat-error>
                    <mat-error *ngIf="passwordConfirmModel.errors?.['minlength']">
                        Password must be at least 8 characters long
                    </mat-error>
                </mat-form-field>

                <div class="passwordsNotMatch" *ngIf="passwordNotMatch">
                    Passwords do not match
                </div>

                <div class="error" *ngIf="error">
                    <h3>Changing password not successful</h3>
                    <p>Your actual password is wrong</p>
                </div>

                <div class="sendBtn">
                    <button class="loginBtn" type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Passwort ändern</button>
                </div>

                
            </form>

            
        </div>
    </div>

    <div class="changeSuccessful" *ngIf="succesful">
        <span>Changing password succesful</span>
        <p>You will be redirected</p>
    </div>

    <div class="changeSuccessful" *ngIf="sendDataLoading">
        <mat-spinner [diameter]="240"></mat-spinner>
        Try to change password
    </div>